/* CSS Common Rules for index.html, viewbuilding.html, directions.html and contact.html */

* {
  box-sizing: border-box;
}

.grey {
    border: 1px solid #727c7f; /*grey dominant border color*/
}

.white {
  background-color: white; /*white background for header and footer*/
}

.brown {
  background-color: #b2977d;/*brown accent color hex code*/
}

.stickyfooter {
  flex: 1;
  background: linear-gradient(0deg, white -50%, lightgrey);
}

h2 {
  padding: 16px;
  margin: 0px;
  background-color: #727c7f;/*grey dominant color hex code*/
  color: white;
}

footer {
  margin-top: 0px;
  padding: 10px;
  color: #727c7f;/*grey dominant color hex code*/
}

.center {
  text-align: center;
}

body {/* Flex Container-turns body of page into flex container */
      display: flex;
      flex-direction: column;
      max-width: 1366px;
      min-height: 100vh;
      min-width: 320px;
      margin: auto;
}

/* Navigation components */

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav a { /*Navigation Links*/
    text-decoration: none;
    color: #727c7f; /*grey dominant color hex code*/
    padding: 10px;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-delay: .2s;
}

 nav a:hover {
    background-color: #b2977d;/* brown accent color hex code */
    color: white;
    padding: 10px;
  }

.title { /*Controls color and size of Springcreek Office Park text in top navigation menu*/
      font-size: 27px;
      font-weight: bold;
      color: #727c7f;/*grey dominant color hex code*/
  }

/* index.html page */

.main { /* .main is a container for .description and .features classes */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0px;
}

.description {
  padding: 15px 32px;
  line-height: 25px;
  flex: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  border-right: 1px solid white;
}

.features {
  padding: 15px 32px;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  border-left: 1px solid white;
}

.features li {
  list-style: square;
}

 #front {
   width: 100%;
   display: block;
   opacity: 0.8;
   transition-property: opacity;
   transition-duration: 2s;
   transition-timing-function: ease;
}

/* viewbuilding.html page */

.photogallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column .photo {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
  vertical-align: middle;
  border: 2px solid #b2977d;/*brown accent color hex code*/
}

/* directions.html page */

.directions {
  display: flex;
  flex-direction: row;
}

.top-page-directions {
    flex: 1;
    font-size: 20px;
    text-align: center;
    padding: 132px 15px;
    color: white;
  }

.map {
  display: flex; /*Enables Google Maps embed link to resize when viewport size changes.*/
}

/* contact.html page */

.contact {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, white -50%, #b2977d);/*brown accent color hex code*/
}

.information {
  font-size: 19px;
  max-width: 50%;
  padding: 16px;
  color: white;
}

 .hours {
  font-size: 17px;
  max-width: 50%;
  padding: 16px;
  color: white;
}

.contact-info {
  font-size: 17px;
  max-width: 50%;
  padding: 16px;
  line-height: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: white;
}

a[href^="tel:"] {
  color: white;
}

a[href^="mailto:"] {
  color: white;
}

/* loader */

#frontImagecontainer { /* Center the loader */
  position: relative;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #66b7e1;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Queries */

@media (max-width: 1023px) { /*controls layout on desktop and larger screens*/
  nav ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
nav li {
  margin-top:10px;
  margin-bottom:10px;
}
}

@media (max-width: 1000px) { /*controls layout on tablet and mobile screens*/

/*index.html page*/

  .main {
    display: flex;
    flex-direction: column;
  }
  .description{
    margin-bottom: 0px;
    border-right-color: #727c7f;/*grey dominant color hex code*/
    border-bottom: 1px solid white;
  }
  .features {
    border-top: initial;
    border-left-color: #727c7f;/*grey dominant color hex code*/
  }

  /*viewbuilding.html page*/

  .column {
    flex: 100%;
    max-width: 100%;
  }

  /*directions.html page*/

.directions {
  flex-direction: column;
}

  .top-page-directions {
    width: 100%;
    padding: 32px 15px;
  }

  .top-page-directions address {
    padding: 15px;
    text-align: center;
    width: 100%;
  }

  .map {
    justify-content: center;
  }

  /*contact.html page*/

  .information {
    font-size: 16px;
    max-width: 100%;
    padding: 16px;
    margin: 0px;
    border-bottom: solid white 1px;
  }

   .hours {
    font-size: 16px;
    text-align: left;
    max-width: 100%;
    padding: 16px;
    margin: 0px;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
  }

  .contact-info {
    font-size: 16px;
    max-width: 100%;
    padding: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 32px;
    border-top: solid white 1px;
  }
}
