/***************
CSS Common Rules
***************/

* {
  box-sizing: border-box;
}

.white {
  background-color: white;/* white background for header and footer */
}

.bodytext {
  color: white;
}

.brown {
  background-color: #b2977d;/* brown accent color */
}

.stickyfooter {
  flex: 1;
  background: linear-gradient(0deg, white -50%, lightgrey);
}

h2 {
  padding: 16px;
  margin: 0;
  background-color: #727c7f;/* grey dominant color */
  color: white;
}

footer {
  padding: 10px;
  color: #727c7f;/* grey dominant color */
}

.center {
  text-align: center;
}

body {/* Flex Container-turns body of page into flex container */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Navigation Menu */

nav ul {/* nav ul is a flex container for nav a and .title class */
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 10px;
}

nav a {/* Navigation Links */
  text-decoration: none;
  color: #727c7f;/* grey dominant color */
  padding: 10px;
}

.title {/* Controls color and size of Springcreek Office Park text in top navigation menu */
  font-size: 1.6875em;
  font-weight: bold;
  color: #727c7f;/* grey dominant color */
}

/****************
Alert Message Box
****************/

.alertbox {/* .alertbox is a flex container for .closebutton class */
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #1E90FF;
  color: white;
}

.closebutton {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  order: 1;
  cursor: pointer;
  font-size: 1.375em;
  line-height: 1;
}

/*******
 Loader
*******/

#frontImagecontainer {/* Centers the loader */
  position: relative;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #1E90FF;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**************
index.html page
**************/

.main {/* .main is a flex container for .description and .features classes */
  display: flex;
}

.description {
  padding: 15px 32px;
  line-height: 1.5625;
  flex: 1;
  margin: 0;
  border-right: 1px solid white;
}

.features {
  padding: 15px 32px;
  line-height: 1.5625;
  margin: 0;
  border-left: 1px solid white;
}

.features li {
  list-style: square;
}

#front {
  width: 100%;
  display: block;
  opacity: 0.8;
  transition: opacity 2s ease;
}

/*********************
viewbuilding.html page
*********************/

.photogallery {/* .photogallery is a flex container for .column and .photo classes */
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column .photo {
  margin: 4px 0;
  width: 100%;
  vertical-align: middle;
  border: 2px solid #b2977d;/* brown accent color */
}

/*******************
directions.html page
*******************/

.directions {/* .directions is a flex container for .top-page-directions and .map classes */
  display: flex;
}

.top-page-directions {
  flex: 1;
  padding-top: 15px;
}

.top-page-directions li {
  list-style: square;
}

.top-page-directions ul {
  padding: 0 32px;
  margin: 0;
}

.map {
  display: flex;/* Enables Google Maps embed link to resize when viewport size changes. */
  background-color: #f2f2f2;
}

/****************
contact.html page
****************/

.contact {/* .contact is a flex container for .information, .days, .hours and .contact-info classes */
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, white -50%, #b2977d);/*brown accent color */
}

.information, .days, .hours {
  padding: 16px;
}

.contact-info {
  padding: 16px;
  line-height: 1.875;
  margin: 16px 0;
}

a[href^="tel:"] {
  color: white;
}

a[href^="mailto:"] {
  color: white;
}

/*************
 Media Queries
 ************/

@media (max-width: 1023px) {/* controls layout on desktop and larger screens */

    nav ul {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    nav li {
      margin: 10px 0;
    }
  }/* End of controls layout on desktop and larger screens*/

@media (max-width: 1000px) {/* controls layout on tablet and mobile screens */

/* CSS Common Rules */

  .title {
    font-size: 1.5625em;
  }

  h2 {
    font-size: 1.3em;
  }

  footer {
    font-size: 0.875em;
  }

/* index.html page */

  .main {/* .main is a flex container for .description and .features classes */
    flex-direction: column;
  }

  .description {
    border-bottom: 1px solid white;
    border-right: none;
  }

  .features {
    border-top: 1px solid white;
    border-left: none;
  }

  /* viewbuilding.html page */

  .column {
    flex: 100%;
    max-width: 100%;
  }

  /* directions.html page */

  .directions {/* .directions is a flex container for .top-page-directions and .map classes */
    flex-direction: column;
  }

  .top-page-directions {
    padding: 32px 15px;
  }

  .map {
    justify-content: center;
  }

  /* contact.html page */

  .information {
    margin: 0;
    text-align: justify;
    border-bottom: solid white 1px;
  }

   .hours, .days {
    margin: 0;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
  }

  .contact-info {
    margin: 0;
    line-height: 2;
    border-top: solid white 1px;
  }
}/* End of controls layout on tablet and mobile screens */
